# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Macos be like
**/.DS_Store

# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Ignore build folders
**/build

# Workspace files are user-specific
*.sublime-workspace

# ILY vscode
**/.vscode
.idea/

# clangd
.cache/
/.vs/CustomProfiles/FileContentIndex/8772ff1d-c02d-4213-878f-613a08f2a591.vsidx
/.vs/CustomProfiles/v17/Browse.VC.db
/.vs/CustomProfiles/v17/Browse.VC.db-shm
/.vs/CustomProfiles/v17/Browse.VC.db-wal
/.vs/CustomProfiles/v17/.wsuo
*.opendb
/.vs/CustomProfiles/FileContentIndex/1e8361e3-abff-42fb-9cd6-035f88532bb3.vsidx
/.vs/CustomProfiles/FileContentIndex
/.vs/cmake.db
/.vs/CustomProfiles/v17/ipch/73ea34b91050d983.ipch
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
/.vs/CustomProfiles/v17/ipch/AutoPCH/397e2561b936cbcf
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs/CustomProfiles/v17/ipch/3acb111ad75e1f0f.ipch
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/CustomProfiles/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/CustomProfiles/v17/DocumentLayout.json
/.vs/CustomProfiles/v17/DocumentLayout.backup.json
/.vs/CustomProfiles/CopilotIndices/18.0.988.22099
/.vs
